IndentWidth: 3
IndentCaseLabels: true
BreakBeforeBraces: Allman
ColumnLimit: 0
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: false
# AllowShortLoopsOnASingleLine: true
# AllowShortIfStatementsOnASingleLine: true
ForEachMacros: [range, irange]